.btn:focus, .btn.focus, .btn:active:focus,.btn:active.focus, .btn.active:focus, .btn.active.focus, input:focus, input:active, select:focus, select:active:focus{
  outline:none;
  box-shadow:none;  }
body{
  background: #f9f9f7;
  font-family: "Microsoft YaHei";
}
.s-h{
  font-family: "SimHei";
}
[v-cloak] {
  display: none;
}
input[type='radio']{
  vertical-align: top;
}
a{
  cursor: pointer;
  text-decoration: none;
}
a:hover,
a:visited,
a:focus,
a:active,
a.active{
  text-decoration: none;
}
ul{
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
img{
  width: 100%;
  height: 100%;
  border: 0px;
  font-size: 0;
}
.none{
  display: none;
}
.fs110{
  font-size: 110px;
}
.fs100{
  font-size: 100px;
}
.fs60{
  font-size: 60px;
}
.fs45{
  font-size: 45px;
}
.fs40{
  font-size: 40px;
}
.fs35{
  font-size: 35px;
}
.fs33{
  font-size: 33px;
}
.fs30{
  font-size: 30px;
}
.fs25{
  font-size: 25px;
}
.fs24{
  font-size: 24px;
}
.fs20{
  font-size: 20px;
}
.fs18{
  font-size: 18px;
}
.top15{
  margin-top: 15px;
}
.split3{
  border-bottom: 3px solid #fff;
}
@media (max-width: 992px){
  .fs110,
  .fs100{
    font-size: 24px;
  }
  .fs40,
  .fs45,
  .fs60{
    font-size: 20px;
  }
  .fs35{
    font-size: 18px;
  }
  .fs30{
    font-size: 16px;
  }
  .fs24{
    font-size: 14px;
  }
  .fs20,
  .fs18,
  .fs25{
    font-size: 12px;
  }
}



.consultation .consultation-img{
  width: 40%;
}
.consultation .consultation-info{
  padding-left: 15px;
  width: 60%;
  font-size: 14px;
}
.consultation .consultation-info .consultation-phone{
  font-size: 20px;
  margin: 15px 0;
}



.main-navi.container-fluid{
  background: #f9f9f7;
}
.navi{
  height: 45px;
  line-height: 45px;
  text-align: left;
}
.navi a{
  color: #333;
}

